{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block style %}{%endblock style%}

{% block navlinks %}{% endblock navlinks %}

{% block messages %}{% endblock messages %}

{% block content %}
<!-- password_reset_email.html -->
<p>Hi {{ user.username }},</p>
<p>To reset your password, click the link below:</p>
<p><a href="{{ password_reset_url }}">Reset your password</a></p>
<p>If you did not request a password reset, please ignore this email.</p>

{% endblock content %}

{% block script %}{% endblock script %}