{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block style %}{%endblock style%}

{% block navlinks %}{% endblock navlinks %}

{% block messages %}{% endblock messages %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height: calc(100vh - 62px);">
    <div class="card p-4 shadow-lg" style="max-width: 500px; width: 100%;">
        <h2 class="text-center mb-4">Forgot Your Password?</h2>
        <p class="text-center mb-4">Enter your email address to receive a link to reset your password.</p>
        <form method="post">
            {% csrf_token %}
            
            <!-- Center the form group (label and input field) -->
            <div class="form-group text-center mb-3">
                {{ form.email }}  <!-- Assuming your form field is 'email' -->
            </div>

            <!-- Center the button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="form-control btn btn-primary">Send Password Reset Email</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block script %}{% endblock script %}