{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block style %}{%endblock style%}

{% block navlinks %}{% endblock navlinks %}

{% block messages %}{% endblock messages %}

{% block content %}

<h2>Forgot Your Password?</h2>
<p>Enter your email address to receive a link to reset your password.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send Password Reset Email</button>
</form>

{% endblock content %}

{% block script %}{% endblock script %}