<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>{% block title %}Smart Canteen{% endblock title %}</title>
    <style>{% block style %}{% endblock style %}</style>
  </head>
  <body>
    {% block messages %}{% endblock messages %}
    {% block content %}
    
    {% endblock content %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>