{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block style %}
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.item-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}
.item-card:hover {
    transform: scale(1.05);
}
.item-photo {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.btn-add-to-cart {
    margin-top: 10px;
}

.small-alert {
    padding: 15px;
    font-size: 1rem;
    margin: 5px;
}

.disabled-card {
    pointer-events: none; /* Prevents any interaction */
    opacity: 0.6; /* Makes it look disabled */
    position: relative; /* Required for absolute positioning of the message */
}

.out-of-stock-message {
    position: absolute; /* Position the message absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for center alignment */
    background-color: rgba(255, 0, 0, 0.7); /* Semi-transparent red background */
    color: white; /* White text color */
    padding: 5px; /* Padding around the text */
    border-radius: 2px; /* Rounded corners */
    font-weight: bold; /* Bold text */
}
{%endblock style%}

{% block navlinks %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">
        <i class="bi bi-house-door me-1"></i>Home
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'view_cart' %}">
        <i class="bi bi-cart me-1"></i>Cart
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'customer_notifications' %}">
        <i class="bi bi-bell me-1"></i>Notifications
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle me-1"></i>Account
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'view_orders' %}"><i class="bi bi-bag me-2"></i>Orders</a></li>
        <li><a class="dropdown-item" href="{% url 'khattabook' %}"><i class="bi bi-journal me-2"></i>KhattaBook</a></li>
        <li><a class="dropdown-item" href="{% url 'raise_issue' %}"><i class="bi bi-exclamation-triangle me-2"></i>Raise Issue</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'app_logout' %}"><i class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
    </ul>
</li>
{% endblock navlinks %}


{% comment %} {% block messages %}
{% for message in messages %}

<div class="alert alert-info small-alert alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endblock messages %} {% endcomment %}


{% block content %}

<div class="container mt-4">

    <div id="advertisementCarousel" class="carousel slide mb-4" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/ad_1.png' %}" alt="Advertisement 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ad_2.png' %}" alt="Advertisement 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ad_3.png' %}" alt="Advertisement 3">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ad_4.png' %}" alt="Advertisement 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#advertisementCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#advertisementCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Segment 2: Frequently Ordered Items -->
    {% comment %} <h2 class="mb-4">Frequently Ordered Items</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <!-- Item 1 -->
        {% for item in items %}
        <div class="col">
            <div class="card item-card">
                <img src="{{item.item_image.url}}" class="card-img-top item-photo" alt="Item 1">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}} </h5>
                    <p class="card-text">&#8377; {{item.price}}</p>
                    
                    <form action="{% url 'add_to_cart' item.item_id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> {% endcomment %}

    <h2 class="my-4">Breakfast</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        {% for item in bf %}
        <div class="col">
            <div class="card item-card">
                <img src="{{item.item_image.url}}" class="card-img-top item-photo" alt="{{item.item_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">&#8377; {{item.price}}</p>
                    <form action="{% url 'add_to_cart' item.item_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="my-4">Curry</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        {% for item in cr %}
        <div class="col">
            <div class="card item-card">
                <img src="{{item.item_image.url}}" class="card-img-top item-photo" alt="{{item.item_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">&#8377; {{item.price}}</p>
                    <form action="{% url 'add_to_cart' item.item_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="my-4">Lunch</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        {% for item in ln %}
        <div class="col">
            <div class="card item-card">
                <img src="{{item.item_image.url}}" class="card-img-top item-photo" alt="{{item.item_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">&#8377; {{item.price}}</p>
                    <form action="{% url 'add_to_cart' item.item_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="my-4">Snacks</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        {% for item in sk %}
        <div class="col">
            <div class="card item-card">
                <img src="{{item.item_image.url}}" class="card-img-top item-photo" alt="{{item.item_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">&#8377; {{item.price}}</p>
                    <form action="{% url 'add_to_cart' item.item_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="my-4">Drinks</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        {% for item in dr %}
        <div class="col">
            <div class="card item-card">
                <img src="{{item.item_image.url}}" class="card-img-top item-photo" alt="{{item.item_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">&#8377; {{item.price}}</p>
                    <form action="{% url 'add_to_cart' item.item_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="my-4">Desserts</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        {% for item in ds %}
        <div class="col">
            <div class="card item-card">
                <img src="{{item.item_image.url}}" class="card-img-top item-photo" alt="{{item.item_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">&#8377; {{item.price}}</p>
                    <form action="{% url 'add_to_cart' item.item_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Segment 3: Item Menu -->
    <h2 class="my-4">Currently Out of Stock</h2>
     <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        {% comment %}
        {% for item in items_in_stock %}
        <div class="col">
            <div class="card item-card">
                <img src="{{item.item_image.url}}" class="card-img-top item-photo" alt="{{item.item_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">&#8377; {{item.price}}</p>
                    <form action="{% url 'add_to_cart' item.item_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %} {% endcomment %}
        {% for item in items_out_of_stock %}
        <div class="col">
            <div class="card disabled-card item-card">
                <img src="{{item.item_image.url}}" class="card-img-top item-photo" alt="{{item.item_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">&#8377; {{item.price}}</p>

                    <div class="out-of-stock-message">Out of Stock</div>

                    {% comment %} <form action="{% url 'add_to_cart' item.item_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                    </form> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="cartToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <!-- Message will be updated dynamically here -->
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    
</div><br>

{% endblock content %}

{% block script %}

document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.btn-add-to-cart').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();  // Prevent default form submission
            const form = this.closest('form');  // Get the form element
            const actionUrl = form.action;

            fetch(actionUrl, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': form.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    showToast(data.message);  // Show toast message on success
                } else {
                    showToast('Error adding item to cart.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showToast('An error occurred.');
            });
        });
    });

    // Function to display the toast notification
    function showToast(message) {
        const toastContainer = document.querySelector('#cartToast .toast-body');
        toastContainer.innerHTML = message;

        const toastEl = document.getElementById('cartToast');
        const toast = new bootstrap.Toast(toastEl);
        toast.show();
    }
});


{% endblock script %}