{% extends 'base.html' %}

{% block title %}Cart{% endblock title %}

{% block style %}

.cart-item-quantity {
    min-width: 20px;
    text-align: center;
}

.img-resize {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

{%endblock style%}

{% block navlinks %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'customer_dashboard' %}">
        <i class="bi bi-house-door me-1"></i>Home
    </a>
</li>
<li class="nav-item">
    <a class="nav-link  active" aria-current="page" href="#">
        <i class="bi bi-cart me-1"></i>Cart
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'customer_notifications' %}">
        <i class="bi bi-bell me-1"></i>Notifications
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle me-1"></i>Account
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'view_orders' %}"><i class="bi bi-bag me-2"></i>Orders</a></li>
        <li><a class="dropdown-item" href="{% url 'khattabook' %}"><i class="bi bi-journal me-2"></i>KhattaBook</a></li>
        <li><a class="dropdown-item" href="{% url 'raise_issue' %}"><i class="bi bi-exclamation-triangle me-2"></i>Raise Issue</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'app_logout' %}"><i class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
    </ul>
</li>

{% endblock navlinks %}

{% block messages %}{% endblock messages %}

{% block content %}

<div class="container mt-5">

    <h2>Cart</h2>
    <div class="row mb-3">
        <div class="col-md-8">
            {% if cart_items.exists %}
            {% for item in cart_items %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{item.item.item_image.url}}" class="img-fluid rounded-start img-resize" alt="Item Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{item.item.item_name}}</h5>
                            <p class="card-text">Price: ₹<span class="item-price">{{item.item.price}}</span></p>
                            <div class="d-flex align-items-center">
                                {% comment %} <button class="btn btn-outline-primary btn-sm me-2 decrement">-</button> {% endcomment %}
                                <span class="cart-item-quantity">Qty: {{item.quantity}}</span>
                                {% comment %} <button class="btn btn-outline-primary btn-sm ms-2 increment">+</button> {% endcomment %}

                                <form class="ms-auto" action="{% url 'delete_from_cart' item.item_id%}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm ms-auto">Remove</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <H4>Your Cart is Empty</H4>
            {% endif %}

        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4>Total Amount: ₹<span id="total-amount">{{total}}</span></h4>
                    {% if is_active %}
                    <a href="{% url 'place_order' %}" class="btn btn-success w-100">Place Order</a>
                    {% else %}
                    <button class="btn btn-secondary w-100">Place Order</button>
                    <br>
                    <p>Your account has been disabled!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
{% endblock script %}